.note-editor {
  width: 100%;
  color: #000;
  max-width: 100vw;
  overflow: hidden;
}
.ce-block__content {
  // margin: unset;
}
.ce-inline-tool svg,
.ce-inline-toolbar__dropdown-content svg {
  width: auto;
  height: auto;
}
